@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    background: var(--bg-black-900);
	
}

ul{
	list-style: none;
}

div{
    display: block;
    box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #f2f2fc;

}
.fas{
  font-size: 20px;
  text-decoration: none;

}

